.footer {
    background-color: rgb(235, 230, 236);

    p {
        text-align: center;
        font-size: 0.5rem;
        margin: 0;
    }
}

.header {
    background-color: white;
    padding: 0;
}

.content-body {
    margin: 20px;
    background-color: white;
}